#�˿ں�
SERVER_PORT = 8888
   
#��־д�뷽ʽ 0 ͬ�� 1 �첽
LOGWrite = 0
   
#�������ģʽ  0 LT + LT 1 LT + ET 2 ET+ ET
TRIGMode = 0
     
#���Źر�����
OPT_LINGER = 0

#mysql���ӳ�����
MYSQL_NUM = 8

#mysql��ַ     
MYSQL_ADDR = 192.168.1.6

#mysql�û���
MYSQL_USER = root 

#mysql����
MYSQL_PASSWD = 154263

#musql���ݿ�����
MYSQL_DB = han

#
MYSQL_CLOSE_LOG = 0
 

#redis���ӳ�����
REDIS_NUM = 8

#redis��ַ    
REDIS_ADDR = 127.0.0.1

#redis�˿�
REDIS_PORT = 6379

#
REDIS_CLOSE_LOG = 0

#�̳߳��ڵ��߳�����
THREAD_NUM = 8

#�ر���־
CLOSE_LOG = 0

#����ģ�� 0 proactor 1 reactor
ACTOR_MODE = 1